@model  PersonelMvc.Models.Departman
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Merhaba</title>
</head>
<body>
    <div> 
        Merhava view <br />
        Departman Id : @Model.Id
        Departman Adi:@Model.Ad
        <button id="button">Ajax call</button>
    </div>
</body>
</html>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="~/scripts/search.js" type="text/javascript">

</script>
