
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div> <div id="sonuc"></div>
        ajax post 
    </div>
</body>
</html>
